.container {
    text-align: right; /* ボタンと画像を右寄せ */
}
.image-container {
    display: none;
    margin-top: 10px; /* ボタンと画像の間に少しスペースを追加 */
}
input[type="radio"]:checked + label + .image-container {
    display: block;
}
.image-container img {
    max-width: 50%; /* 画像の大きさを半分に */
    height: auto;
}
.label-container {
    display: flex; /* ラベルを横並びに */
    justify-content: flex-end; /* 右寄せ */
    flex-wrap: wrap;
}
label {
    display: inline-block;
    margin: 0 5px;
}




