.sample {
	display: flex;
	justify-content:space-around;
}

 h1{
	display: flex;
	justify-content:space-around;
	font-size: 100px;
	line-height: 2;
}
 h2{
	display: flex;
	justify-content:space-around;
	font-size: 75px;
	line-height: 2;
	border-top: solid 10px;
	border-bottom: solid 10px;
}
.field {
	display: flex;
	justify-content:space-around;
	text-align:center;
}
img{
	width: 2000px;
	height: 1500px;
}
.field{
	line-height: 2;
}
/*↑は横並びの指定*/
/*↓は画像の下中央に文字を指定する文*/
 div{
	text-align:center;
	font-size: 50px;
	line-height: 3;
}
img{
	width: 1500px;
	height: 1200px;
}
h3{
	display: flex;
	justify-content:space-around;
	font-size: 75px;
	line-height: 2;
	border-top: solid 10px;
	border-bottom: solid 10px;
}
h4{
	display: flex;
	justify-content:space-around;
	font-size: 75px;
	line-height: 2;
	border-top: solid 10px;
	border-bottom: solid 10px;
}
:root {
	--base-color: rgb(254, 254, 246); /* または #fefef6 */
	--main-color: rgb(100, 127, 163); /* または #647fa3 */
	--accent-color: rgb(82, 182, 100); /* または #52b664 */
  }

  body {
	background-color: var(--base-color);
	color: var(--main-color);
  }
ol{
	display: flex;
	justify-content:space-around;
	font-size: 50px;
}
.t2{
	display: flex;
	justify-content:space-around;
	font-size: 50px;
}

.button02 {
  background-color: #fefef6;
  border: double 6px #647fa3;
  color: #647fa3;
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
}
.button02:hover {
  color: #647fa3;
  background-color: #fefef6;
}
/*↓は画像の角を丸くする文*/
.m{
	border-radius: 40px;
}

/*スマホ対応css*/
@media (max-width: 768px) {
    /*h1 {
      font-size: 2em;
    }
    h2, h3, h4 {
      font-size: 1.8em;
    }
    .sample, .field, .ti {
      flex-direction: column;
      align-items: center;
    }
    img {
      max-width: 90%;
      margin-bottom: 10px;
    }
    div {
      font-size: 1em;
    }
    ol {
      flex-direction: column;
      align-items: center;
    }
    .button02 {
      font-size: 1em;
      padding: 10px 15px;
    }*/
	.sample {
		display: flex;
		justify-content:space-around;
	}
	
	 h1{
		display: flex;
		justify-content:space-around;
		font-size: 2em;
		line-height: 2;
	}
	 h2{
		display: flex;
		justify-content:space-around;
		font-size: 1.8em;
		line-height: 2;
		border-top: solid 10px;
		border-bottom: solid 10px;
	}
	.field {
		display: flex;
		justify-content:space-around;
		text-align:center;
	}
	img{
		width: 170px;
		height: 150px;
	}
	.field{
		line-height: 2;
	}
	/*↑は横並びの指定*/
	/*↓は画像の下中央に文字を指定する文*/
	 div{
		text-align:center;
		font-size: 1em;
		line-height: 3;
	}
	img{
		width: 170px;
		height: 150px;
	}
	h3{
		display: flex;
		justify-content:space-around;
		font-size: 1.8em;
		line-height: 2;
		border-top: solid 10px;
		border-bottom: solid 10px;
	}
	h4{
		display: flex;
		justify-content:space-around;
		font-size: 1.8em;
		line-height: 2;
		border-top: solid 10px;
		border-bottom: solid 10px;
	}
	:root {
		--base-color: rgb(254, 254, 246); /* または #fefef6 */
		--main-color: rgb(100, 127, 163); /* または #647fa3 */
		--accent-color: rgb(82, 182, 100); /* または #52b664 */
	  }
	
	  body {
		background-color: var(--base-color);
		color: var(--main-color);
	  }
	ol{
		display: flex;
		justify-content:space-around;
		font-size: 10px;
	}
	.t2{
		display: flex;
		justify-content:space-around;
		font-size: 10px;
	}
	
	.button02 {
	  background-color: #fefef6;
	  border: double 6px #647fa3;
	  color: #647fa3;
	  border-radius: 10px;
	  padding: 10px 30px;
	  text-decoration: none;
	  font-size: 20px;
	}
	.button02:hover {
	  color: #647fa3;
	  background-color: #fefef6;
	}
	/*↓は画像の角を丸くする文*/
	.m{
		border-radius: 40px;
	}
  }
  @media (max-width: 820px) {
    
	.sample {
		display: flex;
		justify-content:space-around;
	}
	
	 h1{
		display: flex;
		justify-content:space-around;
		font-size: 2em;
		line-height: 2;
	}
	 h2{
		display: flex;
		justify-content:space-around;
		font-size: 1.8em;
		line-height: 2;
		border-top: solid 10px;
		border-bottom: solid 10px;
	}
	.field {
		display: flex;
		justify-content:space-around;
		text-align:center;
	}
	img{
		width: 170px;
		height: 150px;
	}
	.field{
		line-height: 2;
	}
	/*↑は横並びの指定*/
	/*↓は画像の下中央に文字を指定する文*/
	 div{
		text-align:center;
		font-size: 1em;
		line-height: 3;
	}
	img{
		width: 170px;
		height: 150px;
	}
	h3{
		display: flex;
		justify-content:space-around;
		font-size: 1.8em;
		line-height: 2;
		border-top: solid 10px;
		border-bottom: solid 10px;
	}
	h4{
		display: flex;
		justify-content:space-around;
		font-size: 1.8em;
		line-height: 2;
		border-top: solid 10px;
		border-bottom: solid 10px;
	}
	:root {
		--base-color: rgb(254, 254, 246); /* または #fefef6 */
		--main-color: rgb(100, 127, 163); /* または #647fa3 */
		--accent-color: rgb(82, 182, 100); /* または #52b664 */
	  }
	
	  body {
		background-color: var(--base-color);
		color: var(--main-color);
	  }
	ol{
		display: flex;
		justify-content:space-around;
		font-size: 10px;
	}
	.t2{
		display: flex;
		justify-content:space-around;
		font-size: 10px;
	}
	
	.button02 {
	  background-color: #fefef6;
	  border: double 6px #647fa3;
	  color: #647fa3;
	  border-radius: 10px;
	  padding: 10px 30px;
	  text-decoration: none;
	  font-size: 20px;
	}
	.button02:hover {
	  color: #647fa3;
	  background-color: #fefef6;
	}
	/*↓は画像の角を丸くする文*/
	.m{
		border-radius: 40px;
	}
  }
	
