:root {
    --base-color: rgb(254, 254, 246); /* 背景色 */
    --main-color: rgb(100, 127, 163); /* メインテキスト色 */
    --accent-color: rgb(100, 127, 163); /* アクセント色 */
}

body {
    background-color: var(--base-color);
    color: var(--main-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent-color);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    border-bottom: solid 10px var(--main-color);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    line-height: 1.5;
}

section.info {
    padding: 20px;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    line-height: 2;
    border-top: solid 10px var(--main-color);
    border-bottom: solid 10px var(--main-color);
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.card img {
    width: 80%;
    max-width: 1500px;
    margin-top: 10px;
    border-radius: 40px;
}

h3 {
    font-size: 75px;
    color: var(--accent-color);
    text-align: center;
    line-height: 2;
    border-top: solid 10px var(--main-color);
    border-bottom: solid 10px var(--main-color);
    margin: 20px 0;
}

footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p {
    font-size: 75px;
    margin: 10px 0;
}

button {
    background-color: var(--base-color);
    border: double 6px var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: var(--main-color);
    background-color: var(--base-color);
}
@media (max-width: 768px)  {
:root{
    --base-color: rgb(254, 254, 246); /* 背景色 */
    --main-color: rgb(100, 127, 163); /* メインテキスト色 */
    --accent-color: rgb(100, 127, 163); /* アクセント色 */
}

body {
    background-color: var(--base-color);
    color: var(--main-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent-color);
    color: white;
    padding: 20px;
    text-align: card;
    font-size: 1.8em;
    border-bottom: solid 10px var(--main-color);
}

h1 {
    font-size: 2em;
    text-align: card;
    line-height: 1.5;
}

section.info {
    padding: 20px;
}

h2 {
    font-size: 1.8em;
    text-align: card;
    line-height: 2;
    border-top: solid 10px var(--main-color);
    border-bottom: solid 10px var(--main-color);
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: card;
    margin: 20px 0;
}

.card img {
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
    border-radius: 40px;
}

h3 {
    font-size: 1.5em;
    color: var(--accent-color);
    text-align: card;
    line-height: 2;
    border-top: solid 10px var(--main-color);
    border-bottom: solid 10px var(--main-color);
    margin: 20px 0;
}

footer {
    background-color: var(--main-color);
    color: white;
    text-align: card;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p {
    font-size: 1em;
    margin: 10px 0;
}

button {
    background-color: var(--base-color);
    border: double 6px var(--main-color);
    color: var(--main-color);
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: var(--main-color);
    background-color: var(--base-color);
}
}